# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# IDE and editors
.idea
.vscode
*.swp
*.swo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Operating System
.DS_Store 